*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-weight: 600;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    color: black;
    background-color: #212121;
}

 .section-img{
    padding: 2rem;
    text-align: center;
    & i{
        font-size: 2rem;
        color: rgb(246, 255, 0);
    }
}

#wrapper-1{
    width: 200px;
    height: auto;
    padding: 1rem 1rem;
    border-radius: 14px;
    background: linear-gradient(skyblue, blue);
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 2;
}


#wrapper-2{

    
    & #location{
        padding: .5rem 0;
    }

    & #section-date{
        font-size: .6rem;
        font-weight: 500;
        padding-bottom: 1rem ;

    }

    & #section-temp {
        padding-bottom: 1rem;

        & #min-max{
            font-size: .6rem;

        }
    }
}

 .box-1{
    z-index: -1;
    content: '';
    position: absolute;
    top: 140px;
    left: 0%;
    width: 400px;
    border-radius: 50%;
    height: 370px;
    background-color: rgb(137, 197, 249);
    animation: rotate 5s linear infinite;
}

 .box-2{
    z-index: -1;
    content: '';
    position: absolute;
    top: 160px;
    left: -30%;
    width: 400px;
    border-radius: 50%;
    height: 370px;
    background-color: rgb(187, 215, 240);
    animation: rotate 3s linear infinite;

}


@keyframes rotate{
    0%{
        rotate: 0deg;
    }

    100%{
        rotate: 360deg;
    }
}


#section-temp{
    background-color: rgb(223, 157, 243);

}

#text{
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: brown;
    color: white;
    margin-bottom: 1rem;
    padding-left: .7rem;
    padding-right: 1rem;

    &::placeholder{
        color: yellow;
        text-transform: capitalize;
        font-size: .7rem;
        padding-left: .3rem;
    }
}


#date{
    height: 1.2rem;
    font-size: .9rem;
}

form{
    position: relative;
}

#icon > i{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 2rem;
    width: 1.5rem;
    background-color: aqua;
}

